 body {
    background-color :#FFFFFF;
    background-attachment:fixed;
    font-family : arial;
    color : #666666;
}

 header {
    background-color :#003058;
    color :#FFFFFF;
    font :georgia;
    display: row;
    text-align: center;
}
 nav{
    font-weight:200;
    background-color:grey;
    position:sticky;
    top:0;
    display:row 2 3;
    display: collumn 2 3 4 5 6 7 8;
    text-align: center;
    nav-a:hover;
}
h1 {
  margin:0;
  padding:0;
}
 h2 {
    color:#424242;
    font:Georgia;
}
h3{
    color:#003058;
}
 dt {
    color:#003058;
}
 .ut {
    color:#BA1C21;
}
 footer{
    font-size:.70rem;
    font:italic;
}
 #wrapper{
    font-size:80%;
    grid-auto-rows: 0px auto;
}
#homehero{
    display:grid;
}
#studenthero{

}
#facultyhero.jpg{

}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
    color :black;
    background-color :transparent;
    text-decoration :none;
}
a:hover {
  color: gray;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: whitesmoke;
  background-color: transparent;
  text-decoration: underline;
}
#grid1 {
  grid-template-columns: 8;

}
#main-img {
  float: right;
  padding:2rem;

}